name: 'CD - Build, Push and Deploy to AKS'

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME: 'tc-rodrigo-fiap-microservice-payments'
  AZURE_RESOURCE_GROUP: 'estudos-fiap'
  ACR_LOGIN_SERVER: 'acrfiaprodrigoborges.azurecr.io'
  CLUSTER_NAME: 'cluster-fiap-rodrigo'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Login to ACR'
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: 'Build and Push Docker Image'
        run: |
          docker build . -f Dockerfile -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      # 1. Conecta ao Cluster AKS
      - name: 'Set AKS Context'
        uses: azure/aks-set-context@v3
        with:
          resource-group: ${{ env.AZURE_RESOURCE_GROUP }}
          cluster-name: ${{ env.CLUSTER_NAME }}

      # 2. Cria as Secrets no Kubernetes
      - name: 'Create/Update Kubernetes Secrets'
        run: |
          kubectl create secret generic payment-secrets \
            --from-literal=ConnectionStrings__Main='${{ secrets.DB_CONNECTION_STRING }}' \
            --from-literal=RabbitMq__Host='${{ secrets.RABBITMQ }}' \
            --from-literal=AuthKey='${{ secrets.AUTH_KEY }}' \
            --from-literal=Jwt__Key='${{ secrets.JWT_KEY }}' \
            --from-literal=Jwt__Issuer='${{ secrets.JWT_ISSUER }}' \
            --from-literal=Jwt__Audience='${{ secrets.JWT_AUDIENCE }}' \
            --from-literal=Jwt__ExpiresInMinutes='60' \
            --dry-run=client -o yaml | kubectl apply -f -

      # 3. Aplica o Manifesto YAML
      - name: 'Deploy to Kubernetes'
        run: |
          # Substitui a imagem no arquivo YAML pela nova tag (SHA do commit)
          sed -i "s|image: .*|image: ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}|g" k8s/payments-deployment.yaml
          
          # Aplica o deploy
          kubectl apply -f k8s/payments-deployment.yaml
